<section id="footer" class="bg-neutral-900 px-10 text-[#929292] py-5">
  <section class="flex items-center brand mb-5">
    <img src="../../../../assets/images/logo/logo.png" height="60px" width="60px" class="mr-2" alt="Logo">
    <span class="text-[2.5rem] text-primary font-bold">
      OFNOS
    </span>
  </section>

  <section class="grid grid-cols-1 sm:grid-cols-2" id="contact">
    <section class="mb-10">
      <h4 class="text-2xl font-bold mb-2">
        {{ 'footer.contact.title' | transloco }}
      </h4>
      <div class="ms-4">
        <div class="mt-2">
          <h5 class="text-xl font-semibold">
            {{ 'footer.contact.email' | transloco }}
          </h5>
          <p>
            <a href="mailto:software@ofnos.com">software&#64;ofnos.com</a>
          </p>
        </div>
        <div class="mt-2">
          <h5 class="text-xl font-semibold">
            {{ 'footer.contact.phone' | transloco }}
          </h5>
          <p>
            +52 33 4626 3238
          </p>
        </div>
      </div>
    </section>
    <section>
      <div class="mb-5">
        <h4 class="text-2xl font-bold">
          {{ 'footer.office.title' | transloco }}
        </h4>
        <p class="ms-4 mb-5">
          <a href="https://maps.app.goo.gl/PkJpNovsZzxC8LAo9" target="_blank">Calz. Central 270, Granja, 45010 Zapopan, Jal., México</a><br>
          Oficina 906
        </p>
        <a class="rounded-full text-white bg-sky-600 py-3 px-4"
        href="mailto:software@ofnos.com?subject=Cita de contacto">
          {{ 'footer.office.book-appointment' | transloco }}
        </a>
      </div>
    </section>
  </section>

  <section>
    <p class="text-sm">
      Ofnos © 2023
    </p>
  </section>
</section>