/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Forum&display=swap&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'material-icons/iconfont/material-icons.css';


$header-height: 64px; 

$space-color: rgba(17, 26, 34, 1);
$primary-color: rgb(66, 105, 170);
$primary-light-color: rgb(115, 136, 169);
$secondary-color: rgb(211, 212, 217);

html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  background: $space-color;
}

.header-padding {
  padding-top: $header-height;
}

.screen-height-no-header {
  height: calc(100vh - $header-height);
}

/* ------ COLORS ------ */
.text-primary {
  color: $primary-color;
}

.text-light-primary {
  color: rgb(115, 136, 169)
}

.text-gradient {
  background: linear-gradient(90deg, rgb(123, 68, 238) 0%, rgb(208, 176, 20) 35%, rgb(156, 60, 57) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-primary {
  border-color: $primary-color;
}

.border-light-primary {
  border-color: rgb(115, 136, 169)
}

.bg-primary {
  background: $primary-color;
}
/* -------------------- */

