<section class="space-background">

  <div class="dot1 absolute right-1/4 -top-1/4">
  </div>
  <div class="dot1-inner absolute right-1/4 -top-1/4">
  </div>

  <!-- <div class="dot2 absolute left-1/4 top-1/4">
  </div>
  <div class="dot2-inner absolute left-1/4 top-1/4">
  </div> -->

  <section class="container mx-auto px-5 header-padding text-white">
    <section class="border-2 screen-height-no-header px-10 flex items-center">
      <section class="mt-8 grid grid-cols-2">
        <div>
          <h1 class="text-[4rem] leading-none mb-3">
            <span class="font-extralight">Idea,<br></span>
            <span class="font-extralight">Crea,<br></span>
            <span class="font-bold">Innova</span>
          </h1>
          <p>
            En Ofnos, desarrollamos software personalizado con la mejor calidad enfocado en satisfacer todas las necesidades de nuestros clientes.
          </p>
        </div>
      </section>
    </section>
  </section>
</section>