<section id="services" class="mx-auto px-5 text-white bg-[#0f171d] relative">
  <svg class="absolute inset-0" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="servicesPattern" patternUnits="userSpaceOnUse" width="60" height="60"
        patternTransform="scale(0.4) rotate(0)">
        <rect x="0" y="0" width="100%" height="100%" fill="transparent"></rect>
        <path
          d="M 4.95 2.7 a 2.25 2.25 90 0 1 -2.25 2.25 a 2.25 2.25 90 0 1 -2.25 -2.25 a 2.25 2.25 90 0 1 2.25 -2.25 a 2.25 2.25 90 0 1 2.25 2.25"
          stroke-width="1" stroke="none" fill="rgb(38, 59, 77)"></path>
      </pattern>
    </defs>
    <rect width="100%" height="100%" transform="translate(15,20)" fill="url(#servicesPattern)"></rect>
  </svg>
  <section class="relative">
    <div class="mx-4 my-5 text-center">
      <h2 class="pt-6 text-sky-600 font-bold">
        {{ 'services.title' | transloco }}
      </h2>
      <h3 class="text-[3rem] my-4 font-extrabold leading-none">
        {{ 'services.subtitle' | transloco }}
      </h3>
      <p class="text-slate-400">
        {{ 'services.description' | transloco }}.
      </p>
    </div>
    <div class="wrapper pb-10">
      <div class="card-container">
        <div #carrouseloption>
          <input type="radio" name="slide" id="c1" checked>
          <label for="c1" class="card">
            <div class="row card-title">
              <div class="icon">1</div>
              <div class="description">
                <h4>{{ 'services.custom-software.title' | transloco }}</h4>
                <p>{{ 'services.custom-software.description' | transloco }}.</p>
              </div>
            </div>
          </label>
        </div>
        <div #carrouseloption>
          <input type="radio" name="slide" id="c2">
          <label for="c2" class="card">
            <div class="row card-title">
              <div class="icon">2</div>
              <div class="description">
                <h4>{{ 'services.built-solutions.title' | transloco }}</h4>
                <p>{{ 'services.built-solutions.description' | transloco }}.</p>
              </div>
            </div>
          </label>
        </div>
        <div #carrouseloption>
          <input type="radio" name="slide" id="c3">
          <label for="c3" class="card">
            <div class="row card-title">
              <div class="icon">3</div>
              <div class="description">
                <h4>{{ 'services.processes-automation.title' | transloco }}</h4>
                <p>{{ 'services.processes-automation.description' | transloco }}.</p>
              </div>
            </div>
          </label>
        </div>
        <div #carrouseloption>
          <input type="radio" name="slide" id="c4">
          <label for="c4" class="card">
            <div class="row card-title">
              <div class="icon">4</div>
              <div class="description">
                <h4>{{ 'services.support.title' | transloco }}</h4>
                <p>{{ 'services.support.description' | transloco }}.</p>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </section>
</section>
