<section id="home">
  <div class="dot1 absolute right-1/4 -top-1/4">
  </div>
  <div class="dot1-inner absolute right-1/4 -top-1/4">
  </div>

  <div class="dot1 absolute left-30 -bottom-1/4">
  </div>

  <section class="container max-w-7xl mx-auto px-5 header-padding text-white mb-8">
    <section class="screen-height-no-header px-10 flex items-center min-h-[580px] sm:min-h-full">
      <section class="pt-10 mb-8">
        <div class="">
          <h1 class="text-[3rem] sm:text-[4rem] leading-none mb-3 text-center">
            <span class="font-extralight">
              {{ 'hero.title.light' | transloco}}
            </span>
            <span class="font-bold">{{ 'hero.title.bold' | transloco}} </span>
            <span class="font-bold text-gradient">{{ 'hero.title.color' | transloco}}</span>
          </h1>

          <p class="text-center text-slate-500 mt-10 text-xl sm:text-2xl">
            {{ 'hero.subtitle' | transloco }}.
          </p>
          <div class="text-center mt-6">
            <a class="rounded-full text-white bg-sky-600 py-3 px-5"
              href="mailto:software@ofnos.com?subject=Solicitud de contacto">
              {{ 'hero.contact-us' | transloco}}
            </a>
          </div>
        </div>
      </section>
    </section>
  </section>
</section>